<?xml version="1.0" encoding="UTF-8"?>
<config>
    <metadata>
        <name>PubSubPlugin</name>
        <type>plugin</type>
        <class>PubSubPlugin</class>
        <creationDate>2025-08-13</creationDate>
        <last_update>2025-08-13</last_update>
        <author>Gökhan Çobanoğlu</author>
        <authorUrl>https://kartaca.com</authorUrl>
        <version>1.0.0</version>
        <license>Licensed by Kartaca</license>
        <description><![CDATA[
            Sends Survey events to Google Cloud Pub/Sub.
        ]]></description>
    </metadata>

    <compatibility>
        <version>3.0</version>
        <version>4.0</version>
        <version>5.0</version>
        <version>5.1</version>
        <version>5.2</version>
        <version>6.0</version>
        <version>6.1</version>
        <version>6.2</version>
    </compatibility>

    <settings>
        <setting>
            <name>gcpProjectId</name>
            <type>string</type>
            <default></default>
            <localizable>0</localizable>
        </setting>
        <setting>
            <name>pubsubTopic</name>
            <type>string</type>
            <default>survey-events</default>
            <localizable>0</localizable>
        </setting>
        <setting>
            <name>gcpCredentialsPath</name>
            <type>string</type>
            <default></default>
            <localizable>0</localizable>
        </setting>
    </settings>

    <updaters disabled="disabled">
    </updaters>
</config>
