{#

    (¯`·._.·(¯`·._.· Registration head·._.·´¯)·._.·´¯)

    This file generates the top container for the participant registration page.

#}

<div class="d-flex justify-content-end ls-no-js-hidden">
    {{ include('./subviews/navigation/language_changer.twig') }}
</div>

<div class="{{ aSurveyInfo.class.registerhead }} row h2" {{ aSurveyInfo.attr.registerhead }}>
    {{aSurveyInfo.registration.head}}
</div>
