{#
    (¯`·._.·(¯`·._.· Language Changer  ·._.·´¯)·._.·´¯)

    This file renders language changer inside the main container when multiple survey languages are available.

    It uses the Yii helper CHtml::dropDownList().
    @see: http://www.yiiframework.com/wiki/48/by-example-chtml/#hh5

#}
{% if aSurveyInfo.alanguageChanger.show == true %}
    {% set htmlOptions = {
        'id'          : 'firstpage-changelang',
        'autocomplete': 'off',
        'class'       : 'form',
    } %}

    <!-- Start of language change Form-->
    {{ C.Html.form(
        ( aSurveyInfo.surveyUrl ),
    'post',
    (htmlOptions)
    ) }}


    {{ include('./subviews/navigation/language_changer.twig') }}

    </form>
{% endif %}


